@{
  Layout = "_Layout";
}
@model Factory.Models.Engineer
<h4>Add a new engineer</h4>
@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Name)
  @Html.TextBoxFor(model => model.Name, new {@class = "form-control", type="text", required="required"})

  @Html.Label("Select a machine for this engineer")
  @Html.DropDownList("MachineId")

  <br>
  <input type="submit" value="Add a new engineer" class="btn btn-warning" />
}
<p>@Html.ActionLink("Show all engineers", "Index")</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>
